@model IEnumerable<BL.ViewModel.ProductViewModel>
@section Styles
{
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
}

<header id="header" class=" d-flex align-items-center">
    <div class="container">
        <div class="header-container d-flex align-items-center justify-content-between">
            <div class="logo">
                <h1 class="text-light"><a href="index.html"><span>ShoppingDo</span></a></h1>
            </div>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto " href="#portfolio">Products</a></li>
                    <li class="dropdown">
                        <a href="#"><span>Categories</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            @foreach (var item in ViewBag.cats)
                            {
                                <li><a href="#portfolio">@item.CategoryName</a></li>
                            }
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    @if (User.Identity.IsAuthenticated == false)
                    {
                        <li><a class="getstarted scrollto" href="/Account/Login">Sign in</a></li>
                    }
                    else
                    {
                        <li><a class="nav-link scrollto " href="@Url.Action("Logout", "Account")">Logout</a></li>
                    }
                    <li class="bi bi-list mobile-nav-toggle"></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
