<section id="about" class="about">
    <div class="container">

        <div class="row content">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                <h2>ShoppingDo</h2>
                <h3>Through this site, we offer you online shopping for the most beautiful products and we have offers on an ongoing basis</h3>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
                <p>
                    Our Website is an online grocery delivery service that is exclusively designed for ethnic/community based grocery
                    buyers to save their time and effort! Cartly delivers the groceries ordered before 5 PM on the same day.
                    Our Website shoppers are trained grocery pickers who ensure to select the groceries as per customer needs.
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i>We have the best brands and laptops</li>
                    <li><i class="ri-check-double-line"></i> We have the best brands of men's, children's and women's wear</li>
                    <li><i class="ri-check-double-line"></i> We have the best winter and summer offers</li>
                </ul>
            </div>
        </div>

    </div>
</section>